[submodule "tools/moses-scripts"]
	path = tools/moses-scripts
	url = https://github.com/marian-nmt/moses-scripts.git
[submodule "synOPUS"]
	path = synOPUS
	url = ../synOPUS
[submodule "synOPUS-website"]
	path = synOPUS-website
	url = ../synOPUS-website
